---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section id='content'>
{% for post in site.posts %}
  {% if post.category == null %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'>
      <h2>
        <span class="endpoint-title">{{ post.title }}</span>
        {% if post.type %}
        <div class="endpoint-info">
          <span class="endpoint-method">{{ post.type }}</span>
          <span class="endpoint-url">{{ post.url_path }}</span>
        </div>
        {% endif %}
      </h2>
    </a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
  {% endif %}
{% endfor %}
{% for category in site.categories %}
    <h2>{{category | first}}</h2>
    {%assign sortedPosts = category[1]|sort:"order"%}
    {% for post in sortedPosts%}
    <article class='{{ post.type }}'>
      <a name='{{ post.url }}' href='#{{ post.url }}'>
      <h2>
        <span class="endpoint-title">{{ post.title }}</span>
        {% if post.type %}
        <div class="endpoint-info">
          <span class="endpoint-method">{{ post.type }}</span>
          <span class="endpoint-url">{{ post.url_path }}</span>
        </div>
        {% endif %}
      </h2>
    </a>
      <section class='body'>
        {{ post.content }}
      </section>
    </article>
    {% endfor %}
{% endfor %}  
</section>
